*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

select{
width: 103%;
margin-top: 10px;
margin-bottom: 10px;
}

.btnEnter{
    background-color: #002999;
}

.contentWrapper{
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */
    padding:30px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.title-modal{
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-window{
    background: #fff;
    width: 600px;
    max-width: 100%;
    text-align: center;
    min-height: auto;
    position: relative;
}

.submitBtn{
    background: green;
    margin-right: 5px;
}

.cancelBtn{
    background-color: red;
    margin-top: 15px;
}

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.cinput{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-item{
    position: relative;
    padding: 10px;

}

.close{
    color: #ffffff;
    background-color: red;
    border: none;
    display: flex;
    top: 10px;
    right: 10px;
    position: absolute;
    padding: 5px 7px;
}

.btnAdd{
    background-color: blue;
    color: #ffffff;
    margin-top: 10px;
    padding: 10px;
}

.error{
    color: red;
    display: block;

}

.no-items{     
display: block;
color: red;
}

.logo{ 
    width: 100px;
    height: 100px;
    margin: 20px;
}

#search{
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-weight: bolder;
    flex-direction: row;
    align-items: center;
}

.search-wrapper{
    background-color: aquamarine;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-list{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.main-submit{
    margin-top: 20px;
    background-color: green;
    border-radius: 10px;
    border: none;   
    color: #ffffff;
    padding: 6px 6px;
}

.ctextArea{ 
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label{
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.target{
    margin-top: 30px;
}

.visit{
    font-weight: bold;
}

.names{
    margin-top: 10px;
}

.visit-describe{
    display: block;
}


.more-btn{
    background-color: aquamarine;
    min-width: 120px;
}

.hide-btn{
    background-color: pink;
    min-width: 120px;
}

.edit-btn{
    background-color: aqua;
    margin-left: 5px;
    min-width: 120px;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.card-title{
    margin-top: 40px;
    font-weight: bold;
    font-size: 17px;
}

.clear-btn{
    margin-top: 20px;
    margin-left: 5px;
    background-color: green;
    border-radius: 10px;
    border: none;   
    color: #ffffff;
    padding: 6px 6px;
}